<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {styles: ['normalize', 'styles' ,'header','footer','cart2']}) %>

    <body>
        <%- include ('../partials/header') %>
            <main>

                <div class="parent">

                    <section class="info-products">
                        <div class="info-headers">
                            <span class="prod info-head">Producto</span>
                            <span class="desc info-head">Descripción</span>
                            <span class="price info-head">Precio</span>
                            <span class="count info-head">Cantidad</span>
                            <span class="remove info-head"></span>
                        </div>
                        <hr>

                        <%if(locals.cartProducts){%>
                            <% cartProducts.forEach((product)=> { %>
                                <div class="info-items">
                                    <div class="div1 info-item">
                                        <img src="/images/<%= product.image %>" alt="<%= product.name %>">
                                    </div>
                                    <div class="div2 info-item">
                                        <div class="info-subitem product-name">
                                            <p>
                                                <%= product.name %>
                                            </p>
                                        </div>
                                        <div class="info-subitem">
                                            <p>
                                                <%= product.description %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="div3 info-item">
                                        <p class="product-price">$<%= product.price %>
                                        </p>
                                    </div>
                                    <div class="div4 info-item">
                                        <div class="wrapper">
                                            <span class="out">-</span>
                                            <span class="num" data-stock="<%=product.stock%>"><%=product.quantity%></span>
                                            <span class="add">+</span>
                                        </div>
                                    </div>
                                    <div class="div5 info-item remove">
                                        <form id="removeItem" action="/products/cart-removeItem" method="POST">
                                            <input type="hidden" name="productId" value="<%= product.productId %>">
                                            <button type="submit"><i class="fas fa-trash-alt"></i></button>
                                        </form>
                                    </div>
                                </div>

                                <% }) %>
                                    <% } else{%>
                                        <div>No hay productos en el carrito</div>
                                        <% } %>
                    </section>
                    <form class="shipment-data">
                        <div class="div-parent5">
                            <div class="sidebar">
                                <h3><b>Envío:</b></h3>
                                <div class="options">
                                    <div class="option">
                                        <input type="radio" name="envio" id="retiroSucursal"></input>
                                        <label for="retiroSucursal">Retiro en sucursal</label>
                                    </div>
                                    <div class="option">
                                        <input type="radio" name="envio" id="envioDomicilio"></input>
                                        <label for="envioDomicilio">Envío a domicilio</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="div-parent6">
                            <div class="mp">
                                <h3><b>Medio de pago:</b></h3>
                                <div class="options">
                                    <div class="option">
                                        <input type="radio" name="mp" id="transferencia"></input>
                                        <label for="transferencia">Transferencia</label>
                                    </div>
                                    <div class="option">
                                        <input type="radio" name="mp" id="mercadopago"></input>
                                        <label for="mercadopago">Mercado Pago</label>
                                    </div>
                                    <div class="option">
                                        <input type="radio" name="mp" id="pagosucursal"></input>
                                        <label for="pagosucursal">Pago en Sucursal</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="div-parent7">
                            <div class="checkout">
                                <h3><b>Detalle de la compra:</b></h3>
                                <div class="detalle-car">
                                    <p>Subtotal: $<%= subtotal %>
                                    </p>
                                    <p>Descuentos: $<%= discount %>
                                    </p>
                                    <p><b>Total: $<%= total %></b></p>
                                </div>
                            </div>
                        </div>
                        <div class="btn-fc">
                            <button type="submit" id="finalizePurchase">Finalizar Compra</button>
                        </div>
                    </form>
                </div>

            </main>

            <%- include ('../partials/footer') %>

            <script src="/js/cart.js"></script>
    </body>

</html>