<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', {styles: ['normalize', 'styles' ,'header','footer','productDetail']}) %>

    <body>
        <%- include('../partials/header') %>
            <main>
                <div class="detail-heading">
                    <div class="list">
                        <ul>
                            <li><a href="/">INICIO</a></li>
                            <li><a href="#"><i class="fa fa-greater-than"></i><span>CATEGORIA</span></a></li>
                            <li><a href="#"><i class="fa fa-greater-than"></i><span>SUBCATEGORIA</span></a></li>
                        </ul>
                    </div>
                </div>
                <div class="detail-container">
                    <% if (locals.product) { %>
                        <div class="detail-product">
                            <div>
                                <img class="image-product" src="/images/<%= product.image %>" alt="image-product">
                            </div>
                            <div class="detail">
                                <div class="product">
                                    <h2>
                                        <%= locals.product && product.name %>
                                    </h2>
                                    <% if(locals.product && product.discount) {%>
                                    <p class="product-detail-price small">
                                        <span>$<%= locals.product && product.price %></span>
                                        /
                                        <b>
                                            <%= locals.product && product.discount %>% OFF
                                        </b>
                                    </p>
                                    <% } %>
                                    <p class="product-detail-price">
                                        $ <%= locals.product && (product.price - (product.price * product.discount /
                                            100)) %>
                                    </p>
                                    <ul class="actions-list">
                                        <li>
                                            <i class="fas fa-credit-card"></i>
                                            <p>Pagá en 3 cuotas sin interes</p>
                                        </li>
                                        <li>
                                            <i class="fas fa-store"></i>
                                            <p>Retiro gratis en locales del vendedor</p>
                                        </li>
                                        <li>
                                            <p>Stock disponible: <%= product.stock%></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="detail-options">

                                    
                                        <div class="wrapper">
                                            <span class="out">-</span>
                                            <span class="num" 
                                                data-stock="<%= product.stock %>"
                                                data-quantity="<%=productInCart? productInCart.quantity : 1%>"
                                                ><%=productInCart? productInCart.quantity : 1%>
                                            </span>
                                            <span class="add">+</span>
                                        </div>
                                   

                                    <form id="addToCartForm" action="/products/addToCart" method="POST">
                                        <input type="hidden" name="productId" value="<%= product.id %>">
                                        <input type="hidden" id="quantityInput" name="quantity" value="1">
                                        <button type="submit" class="btn btn-block">AGREGAR AL CARRITO</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="detail-description">
                    <h3>Descripción:</h3>
                    <p>
                        <%= product.description %>
                    </p>
                </div>
                <% } else { %>
                    <h1>Producto no encontrado</h1>
                    <% } %>
                        </div>

                        <div class="suggested">
                            <p>Productos Sugeridos</p>
                        </div>
                        <div class="products">
                            <% if (locals.products) { %>
                                <% for(let i=0;i< 3; i++){ let product=products[i] %>
                                    <a href="/products/<%=product.id%>/detail">
                                        <article>
                                            <img src="/images/<%= product.image %>" alt="<%=product.name%>">
                                            <div class="product-details">
                                                <p class="category">
                                                    <%= products[i].petTypes[0].name %>
                                                </p>
                                                <p class="product-name">
                                                    <%= product.name %>
                                                </p>
                                                <p class="price">$<%= product.price %>
                                                </p>
                                            </div>
                                        </article>
                                    </a>
                                    <% } %>
                        </div>
                        <% } else { %>
                            <h1>No hay productos registrados</h1>
                            <% } %>
            </main>
            <%- include ('../partials/footer') %>
                <script src="/js/productDetail.js"></script>

                <!-- <script src="/js/productDetail.js"> 
                    // const add = document.querySelector(".add"),
                    //     out = document.querySelector(".out"),
                    //     num = document.querySelector(".num");
                    // let a = 1;
                    // add.addEventListener("click", () => {
                    //     a++;
                    //     num.innerText = a;
                    // });
                    // out.addEventListener("click", () => {
                    //     if (a > 1) {
                    //         a--;
                    //         num.innerText = a;
                    //     }
                    // });
        </script> -->
    </body>

</html>