<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head', {styles: ['normalize', 'styles','header','footer','product']}) %>
<body>

    <%- include ('../partials/header') %>
    
    <main class="form-product">
        <h1>Ingresar nuevo producto:</h1>
        <form action="/products/" method="post"> 

            <div class="form-group">
                <label for="productName">Nombre de producto:</label>
                <input type="text" id="productName" name="name" value="" required><br><br>
            </div>

            <div class="form-group">
                <label for="productDescription">Descripción del producto:</label>
                <textarea name="description" id="productDescription" rows="10" value="" required></textarea><br><br>
            </div>

            <div class="form-group">
                <label for="categorias">Categorías de productos:</label>
                <select>
                    <option>--Seleccionar--</option>
                    <% petTypes.forEach(petType => { %>
                        <option value="<%= petType.value %>" <%= product.petType === petType.value && 'selected' %>><%= petType.label%></option>
                    <% }) %>
                </select><br><br>
            </div>        
            
            <div class="form-group">    
                <label for="productPrice">Precio de venta $</label>
                <input type="number" id="productPrice" name="price" value="" required><br><br>
            </div>    
            
            <div class="form-group">    
                <label for="productImage">Imagen:</label>
                <input type="file" id="productImage" name="image" alt="Imagen del producto" accept=".jpeg, .jpg, .pdf,.png" value="" required><br><br>
            </div>        

            <input type="submit" value="Crear Producto"><br><br>

        </form>
    </main>

    <%- include ('../partials/footer') %>

</body>
</html>