<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head', {styles: ['normalize', 'styles','header','footer','home']}) %>
<body>
    <%- include ('partials/header') %>
<main>
    <section class="carousel"> 
            <div class="carousel-images">
                <img src="/images/publicidad-whiskas.webp" alt="publicidad-whiskas">
                <img src="/images/Publicidad-purina.webp" alt="publicidad-purina">
                <img src="/images/publicidad-ejemplo.jpg" alt="publicidad-ejemplo">
            </div>
            <div class="carousel-buttons">
                <button class="prev"><i class="fas fa-arrow-left"></i></button>
                <button class="next"><i class="fas fa-arrow-right"></i></button>
            </div>
            <div class="carousel-indicators">
                <span class="active"></span>
                <span></span>
                <span></span>
            </div>
    </section> 
    
    <section class="categories">
        <% petTypes.forEach(petType => { %>
            <article>
                <div>
                    <a href="#"><img src="/images/<%= petType.image %>" alt="Dog"></a>
                    <p><a href="#"><%= petType.name %></a></p>
                </div>
            </article>
        <% }) %>
    </section>

    <section class="featured-brands">
        <h2>Encontralo por marca</h2>
        <div class="brands scroller" data-speed="fast">
            <div class="tag-list scroller__inner">
                <% brands.forEach(brand => { %>
                    <% if(brand.image !== null) { %>
                        <article>
                            <a href="/products?brand=<%= brand.id %>"><img src="/images/<%= brand.image %>" alt="Image"></a>
                        </article>
                        <% } %>
                        <% }) %>
                    </div>
        </div>
    </section>

    <section class="in-sale-products">
        <h2>Productos en oferta</h2>
        <div class="products">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <% for( let j = 0; j < products[i].categories.length; j++ ) { %>
                        <% if (products[i].categories[j].name == 'En oferta') { %> 
                            <a href="/products/<%=products[i].id%>/detail">
                            <article>
                                <img src="/images/<%= products[i].image %>" alt="<%=products[i].name%>">
                                <div class="product-details">
                                    <p class="category"><%= products[i].petTypes[0].name %></p>
                                    <p class="product-name"><%= products[i].name %></p>
                                    <div><p class="price">$<%= products[i].price %> <span>/ <%= products[i].discount %>% OFF</span> </p>
                                </div>
                            </article>
                            </a>
                        <% }%>
                    <% }%>
                <% }%>
        </div>
    </section>

    <section class="visited-products">
        <h2>Productos visitados</h2>
        <div class="products">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <% for( let j = 0; j < products[i].categories.length; j++ ) { %>
                        <% if (products[i].categories[j].name == 'Visitado') { %> 
                            <a href="/products/<%=products[i].id%>/detail">
                            <article>
                                <img src="/images/<%= products[i].image %>" alt="<%=products[i].name%>">
                                <div class="product-details">
                                    <p class="category"><%= products[i].petTypes[0].name %></p>
                                    <p class="product-name"><%= products[i].name %></p>
                                    <div><p class="price">$<%= products[i].price %></p>
                                </div>
                            </article>
                            </a>
                        <% }%>
                    <% }%>
                <% }%>
        </div>
    </section>

    <section class="visited-products">
        <h2>Alimentos</h2>
        <div class="products">
                <% for( let i = 0; i < products.length; i++ ) { %>
                    <% for( let j = 0; j < products[i].categories.length; j++ ) { %>
                        <% if (products[i].categories[j].name == 'Alimento') { %> 
                            <a href="/products/<%=products[i].id%>/detail">
                            <article>
                                <img src="/images/<%= products[i].image %>" alt="<%=products[i].name%>">
                                <div class="product-details">
                                    <p class="category"><%= products[i].petTypes[0].name %></p>
                                    <p class="product-name"><%= products[i].name %></p>
                                    <div><p class="price">$<%= products[i].price %></p>
                                </div>
                            </article>
                            </a>
                        <% }%>
                    <% }%>
                <% }%>
        </div>
    </section>

</main>

<%- include ('partials/footer') %>
<script src="/js/home.js"></script>
</body>
</html>